<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MILLESIME</a>
          <ul class="nav navbar-nav">
            <li><a href="/events">Evenimente</a></li>
            <li><a href="#">Statistici</a></li>
            <li><a href="/members">Membrii Clubului</a></li>
            <li><a href="#">Istoric degustari</a></li>
            <li><a href="/regulations">Regulament</a></li>
            <li><a href="#">Cotizatii</a></li>  
          </ul>
        </div>
        
           <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
                <a href="#" style="color:white;">Account Settings</a> &nbsp;
                <a href="#" class="btn " style="background-color:#8B0000; color:white;">Sign Out</a>
          </div>
        </div><!--/.navbar-collapse -->           
    </nav>  
    